.cards{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.cards li{
    list-style:none;
    width:180px;
    padding:20px;
    background:white;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.2);
}